@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .underline-effect {
    position: relative;
  }
  .underline-effect::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    @apply bg-blue-500;
    opacity: 0;
    width: 0px;
    transition: opacity 300ms, width 500ms;
  }
  .underline-effect:hover::after,
  :focus::after {
    width: 100%;
    opacity: 1;
    transition: opacity 600ms, width 800ms;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
html, body, #__next{
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
